@font-face
{
    font-family: pixelbug;
    src: url('../static/fonts/pixel_bug.otf') format("opentype");
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
    margin: auto 0;
}
