:root {
    --clr-bg:        #091f34;
    --clr-fg:        #fdfdfd;
    --clr-white:     #fdfdfd;
    --clr-pink:      #fc8cc0;
    --clr-red:       #fd2970;
    --clr-orange:    #fd8e25;
    --clr-yellow:    #f2e31d;
    --clr-green:     #7efebe;
    --clr-lightBlue: #6ee5fd;
    --clr-darkBlue:  #2c6795;
}

@font-face
{
    /*
    VCR OSD Mono by Riciery Leal
    https://www.dafont.com/vcr-osd-mono.font
    */
    font-family: vcrosdmono;
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format("truetype");
}

html {
    font-family: vcrosdmono, sans;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg);
}

canvas {
    display: block;
    margin: auto 0;
}

header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    position: fixed;
    font-size: 1.5rem;
}

@media (pointer: coarse) and (orientation: portrait) {
    header {
        transform: rotate(-90deg);
        transform-origin: top left;
        top: 100%;
        left: 0;
        padding: 20px;
        font-size: 2.5rem;
    }
}

a, a:visited, a:hover {
    color: var(--clr-lightBlue);
}
a:hover {
    text-decoration: none;
}
